:root {
  --first-color: #212121;
  --btn-color: #ffffff;
  --accent-color: #2196f3;
  --title-color: #757575;
  --link-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

/*--------------------HEADER-------------------*/

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo {
  margin-right: 93px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list,
.contakts-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.contakts-list {
  margin-left: auto;
}

.header-portfolio {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-portfolio-logo {
  margin-right: 93px;
}

.header-portfolio-container {
  display: flex;
  align-items: center;
}

.header-portfolio-list,
.portfolio-contakts-list {
  display: flex;
}

.header-portfolio-item:not(:last-child) {
  margin-right: 50px;
}

.portfolio-contakts-list {
  margin-left: auto;
}

.link-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
  font-family: Raleway, cursive;
  margin-bottom: 25px;
}

.header-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
  font-family: Raleway, cursive;
  margin-bottom: 25px;
}

.link-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-bottom: 25px;
}

.header-portfolio-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 25px;
}

/*--------------Site nav------------------*/

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-color);
  margin-bottom: 32px;
}

.header-link:hover,
.header-link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header-link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.header-portfolio-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-color);
  margin-bottom: 32px;
}

.header-portfolio-link:hover,
.header-portfolio-link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header-portfolio-link-current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 32px;
}

.header-mail:hover,
.header-mail:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header-portfolio-mail,
.header-portfolio-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.header-portfolio-mail:hover,
.header-portfolio-mail:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.header-portfolio-tel:hover,
.header-portfolio-tel:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/*-------------------HERO----------------*/

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 210px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--link-color);
  margin-bottom: 30px;
  max-width: 696px;
}

.hero-btn {
  font-family: inherit;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--btn-color);
  min-width: 136px;
  min-height: 30px;
}

/*----------features--------*/

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-container {
  display: flex;
  align-items: center;
}

.features-list {
  display: flex;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.features-after-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 94px;
  max-width: 270px;
}

.features-portfolio {
  display: flex;
  align-items: center;
}

.features-portfolio-btn {
}

.features-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -50px;
}

.features-portfolio-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 50px;
}

.features-portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 50px;
}

.features-portfolio-btn:hover,
.features-portfolio-btn:focus {
  background-color: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.features-portfolio-btn-current {
  font-family: inherit;
  background-color: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
  margin-bottom: 50px;
}

.features-portfolio-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--first-color);
  margin-bottom: 4px;
}

.features-portfolio-item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

/*-----------about-------*/

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.about-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.about-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 50px;
}

/*------------work--------*/

.work {
  padding-top: 94px;
  padding-bottom: 124px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.work-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 50px;
}

.work-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 10px;
}

.work-item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 124px;
}

/*----------footer-------*/

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.link-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-google-maps {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.footer-mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.footer-tel:hover:hover,
.footer-tel:focus:focus {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.footer-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #212121;
}

.link-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.footer-portfolio-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--link-color);
  margin-bottom: 20px;
}

.footer-portfolio-google-maps {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--link-color);
  margin-bottom: 9px;
}

.footer-portfolio-mail {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 6px;
}

.footer-portfolio-tel {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-portfolio-mail:hover,
.footer-portfolio-mail:focus {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.footer-portfolio-tel:hover,
.footer-portfolio-tel:focus {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--link-color);
}
